section{
    @include flex(column, center, center);
    p{font-size: $small;
    text-align: justify;
    }

    h1{background-color: $fondotitulo;
        font: $font_color;
        font-size: $h1;
        border-radius: 10px;
        text-align: center;
    }
    }    
    .pasto_gif {
        display: flex;
        align-items: center;
        align-content: center;
        align-self: center;
        img{
            width: 150px;
            height: auto;
            }      
    h2{
        font-size: $h2;
    } 
    
}